@import "tailwindcss";

@theme {

    --color-brand-1:#DBC170;
    --color-brand-2:#B8952E;
    --color-brand-3:#846F2E;

    --color-base-1:#F5F4F5;
    --color-base-2:#B2AFB6;
    --color-base-3:#98959D;
    --color-base-4:#7A767F;
    --color-base-5:#3E3C41; 
    --color-base-6:#2E2C30;
    --color-base-7:#232225;
    --color-base-8:#19181B;
    --color-base-9:#050505;

}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background-color: #3E3C41; /* Use a cor hexadecimal correspondente ao seu base-5 */
  border-radius: 9999px;
}

/* Deixa o scroll um pouco mais escuro quando passar o mouse por cima */
::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af; 
}